<div class="row pb-5" id="data">
	<div class="alert alert-warning alert-dismissible fade show visually-hidden" data-js="alert">
		<p class="m-0 p-0 fw-bold"></p>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	<form action="/dashboard/empreendimentos/create" class="form" data-js="form_empreendimento">
		<div class="row">

			<div class="col-md-12">
				<div class="mb-3">
					<label for="titleForm" class="form-label">Título do anúncio</label>
					<input type="text" class="form-control form-control-lg" id="titleForm" name="title" required>
				</div>
			</div>

			<div class="col-md-4">
				<div class="mb-3">
					<label for="typeForm" class="form-label">Tipo</label>
					<select class="form-control form-select" id="typeForm" name="type" required>
						<option value="1">Casa</option>
						<option value="2">Apartamento</option>
						<option value="3">Terreno</option>
						<option value="4">Lote</option>
					</select>
				</div>
			</div>
			<div class="col-md-4">
				<div class="mb-3">
					<label for="categoriaForm" class="form-label">Categoria</label>
					<select class="form-control form-select" id="categoriaForm" name="categoria" required>
						<option value="1">Aluguel</option>
						<option value="2">Venda</option>
					</select>
				</div>
			</div>
			<div class="col-md-4">
					<label for="priceForm" class="form-label">Preço/Aluguel</label>
				<div class="input-group mb-3">
					<span class="input-group-text" id="basic-addon1">R$</span>
					<input type="number" class="form-control" id="priceForm" name="price" min="0" required>
				</div>
			</div>

			<div class="col-md-4">
				<div class="mb-3">
					<label for="cidadeForm" class="form-label">Cidade</label>
					<select class="form-control form-select" id="cidadeForm" name="cidade"></select>
				</div>
			</div>
			<div class="col-md-4">
				<div class="mb-3">
					<label for="bairroForm" class="form-label">Bairro</label>
					<select class="form-control form-select form-control" id="bairroForm" name="bairro"></select>
				</div>
			</div>
			<div class="col-md-4">
				<div class="mb-3">
					<label for="googleForm" class="form-label">Google Maps</label>
					<input type="text" class="form-control" id="googleForm"
						title="Insira as coordenadas do empreendimento localizadas no Google Maps." name="google_maps"
						placeholder="-00.000000000000000, -00.00000000000000" min="0">
				</div>
			</div>

			<div class="col-md-3">
				<div class="mb-3">
					<label for="quartosForm" class="form-label">Quartos</label>
					<input type="number" class="form-control" id="quartosForm" name="quartos" min="0">
				</div>
			</div>
			<div class="col-md-3">
				<div class="mb-3">
					<label for="suitesForm" class="form-label">Suítes</label>
					<input type="number" class="form-control" id="suitesForm" name="suites" min="0">
				</div>
			</div>
			<div class="col-md-3">
				<div class="mb-3">
					<label for="banheirosForm" class="form-label">Banheiros</label>
					<input type="number" class="form-control" id="banheirosForm" name="banheiros" min="0">
				</div>
			</div>
			<div class="col-md-3">
				<div class="mb-3">
					<label for="vagasForm" class="form-label">Vagas Garagem</label>
					<input type="number" class="form-control" id="vagasForm" name="vagas_garagem" min="0">
				</div>
			</div>

			<div class="col-md-12">
				<div class="mb-3">
					<label for="detailsForm" class="form-label">Detalhes</label>
					<textarea class="form-control" id="detailsForm" name="details" rows="7"></textarea>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-check mb-3">
					<input class="form-check-input form-lg" type="checkbox" id="statusForm" name="status">
					<label class="form-check-label" for="statusForm">Online</label>
				</div>
			</div>

			<div class="col-md-12 mb-5" id="imagesBox">
				<h2 class="mt-3 mb-4">Imagens</h2>
				<div class="row">
					<div class="col-sm-6">
						<h4>Fazer upload</h4>
						<p>Adicione imagens no formato .JPG ou .PNG.</p>
						<div id="dropZone">
							<p>Insira os arquivos aqui.</p>
						</div>
					</div>
					<div class="col-sm-6">
						<h4>Imagens atuais</h4>
						<p>Galeria atual do empreendimento.</p>
						<div id="uploaded"></div>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<button type="submit" class="btn btn-primary btn-lg">Avançar</button>
					</div>
					<div class="col-md-6"></div>
				</div>
			</div>
		</div>
	</form>
</div>