{{#if success_msg}}
<div class="alert alert-info">
	<b>{{success_msg}}</b>
</div>
{{/if}}

{{#if error_msg}}
	{{#each error_msg}}
	<div class="alert alert-danger">
		<b>{{this}}</b>
	</div>
	{{/each}}
{{/if}}