<p class="m-0 fs-1">Configurações</p>
<p class="mb-3">Configurações do site.</p>

<div class="row">
	<div class="col-xs-12">
		<div class="card mb-3">
			<div class="card-header">
				<h5 class="card-title">Título do site</h5>
			</div>
			<div class="card-body">
				<form>
					<input type="text" name="site_title" class="form-control" id="site_title" value="{{ data.site_title }}" />
				</form>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="row">
			<div class="col">
				<div class="card mb-3">
					<div class="card-header">
						<h5 class="card-title">Banner principal</h5>
					</div>
					<div class="card-body"></div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">Empreendimentos em destaque</h5>
					</div>
					<div class="card-body"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	console.log({{data}})
</script>