<div data-id="flex-home">
	<div class="card mr-3 mb-3">
		<div class="card-body">
			<h5 class="card-title">Clientes</h5>
			<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse aliquet massa ac auctor convallis. Aliquam ac orci
			sagittis dolor imperdiet molestie.</p>
			<a href="#" class="btn btn-primary">Cadastrar</a>
		</div>
	</div>
	
	<div class="card mr-3 mb-3">
		<div class="card-body">
			<h5 class="card-title">Empreendimentos</h5>
			<p class="card-text">Etiam molestie justo vitae arcu tincidunt, et accumsan odio posuere. Ut sodales ante eu lacus feugiat gravida. Nullam
			luctus est tortor, sit amet tempus magna commodo non.</p>
			<a href="#" class="btn btn-primary">Cadastrar</a>
		</div>
	</div>
	<div class="card mr-3 mb-3">
		<div class="card-body">
			<h4>Mensagens</h4>
			<h1 class="display-1">
				<span class="text-muted">{{messages_read_number}}</span>/{{messages_number}}
			</h1>
		</div>
	</div>
	<div class="card mr-3 mb-3">
		<div class="card-body text-center">
			<h4>Clientes Cadastrados</h4>
			<h1 class="display-1">{{users_number}}</h1>
		</div>
	</div>
	<div class="card mr-3 mb-3">
		<div class="card-body text-center">
			<h4>Empreendimentos Cadastrados</h4>
			<h1 class="display-1">{{empreendimentos_number}}</h1>
		</div>
	</div>
</div>