<h1>Enviar arquivo</h1>
<form action="/dashboard/upload" method="post" enctype="multipart/form-data">
	<input type="file" class="form-control" multiple name="arquivo" />
	<button type="submit" class="btn btn-dark">Enviar</button>
</form>