<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Painel Administrativo &bull; {{title}} &bull; ImobJS</title>

	<link rel="stylesheet" href="/css/app.sass.min.css" type="text/css">
	<link rel="shortcut icon" href="/favicon.ico">
</head>

<body>
<main>
	<header class="fixed-top">
		<div class="container-fluid">
			<nav class="nav">
				<a class="nav-link small {{#if home}}active{{/if}}" href="/">Início</a>
				<a class="nav-link small {{#if empreendimentos}}active{{/if}}" href="/dashboard/empreendimentos">Empreendimentos</a>
				<a class="nav-link small {{#if clientes}}active{{/if}}" href="/dashboard/clientes">Clientes</a>
				<a class="nav-link small {{#if usuarios}}active{{/if}}" href="/dashboard/usuarios">Usuários</a>
				<a class="nav-link small {{#if messages}}active{{/if}}" href="/dashboard/messages">Mensagens {{#if messages_read_number}}<span class="badge badge-danger ml-2">{{messages_read_number}}</span>{{/if}}</a>
				<a class="nav-link small {{#if config}}active{{/if}}" href="/dashboard/config">Configurações</a>
				<a class="nav-link small" href="/dashboard/logout">Sair</a>
			</nav>
		</div>
	</header>

	<section>
		<div class="container pt-4 pb-4">
			{{{body}}}		
		</div>
	</section>

	<footer class="fixed-bottom">
		<div class="container">
			<p class="p-0 m-0 pt-1 pb-1">Aplicação construída com Node.js e Express.</p>
		</div>
	</footer>
</main>
</body>
</html>
