<h2 class="mb-5">Adicionar novo empreendimento</h2>

{{>_empreendimento_form}}

<h1 class="">{{@hbs}}</h1>

<script type="text/javscript">
	console.log('teste teste')
	const Cidades = await fetch('/api/cidades/')

	const GetBairro = (cidade_id, bairro_id) => {
		bairroForm.innerHTML = null //LIMPA A LISTA ATUAL
		const Bairro = fetch('/api/bairros/' + cidade_id)
		Bairro.then(data => {
			data.json().then(bairros => {
				bairros.map(({ _id, name }) => {
					const Render = `<option value="${_id}">${name}</option>`
					bairroForm.innerHTML += Render
				})
				bairroForm.value = bairro_id || null
			})
		})
	}

	const GetCidade = async (cidade_id, bairro_id) => {
		console.log('teste')
		Cidades.then(data => {
			data.json().then(cidades => {
				cidades.map(({ _id, name }) => {
					const Render = `<option value="${_id}">${name}</option>`
					cidadeForm.innerHTML += Render
				})
				const GetOption = document.querySelector(`option[value="${cidade_id}"]`)
				cidadeForm.value = cidade_id || null
			})
			return GetBairro(cidade_id, bairro_id)
		})
	}

	GetCidade()

	document.querySelector('[data-js="form_empreendimento"]')
		.addEventListener('submit', function(e) {
			e.preventDefault()

			const dados = {
				title: titleForm.value,
				price: priceForm.value,
				status: statusForm.value,
				type: statusForm.value,
				cidade: cidadeForm.value,
				bairro: bairroForm.value,
				quartos: quartosForm.value,
				suites: suitesForm.value,
				banheiros: banheirosForm.value,
				vagas_garagem: vagasForm.value,
				google_maps: googleForm.value,
				details: detailsForm.value
			}
			sessionStorage.setItem('dados', JSON.stringify(dados))
		})

	cidadeForm.addEventListener('change', function (e) {
		const cidade_id = this.value
		GetBairro(cidade_id)
	})
</script>